<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.v7games.uploadimagecompress.plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UploadImageCompressPlugin</name>
        <js-module name="uploadImageCompressPlugin" src="www/UploadImageCompressPlugin.js">
            <clobbers target="cordova.plugins.UploadImageCompressPlugin" />
        </js-module>
        <platform name="android">
            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="UploadImageCompressPlugin">
                    <param name="android-package" value="com.v7games.uploadimagecompress.UploadImageCompressPlugin" />
                </feature>
            </config-file>
            <config-file parent="/*" target="AndroidManifest.xml" />
            <source-file src="src/android/uploadImageCompressPlugin.java" target-dir="src/com/v7games/uploadimagecompress/plugin/UploadImageCompressPlugin" />
        </platform>
        <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="UploadImageCompressPlugin">
                    <param name="ios-package" value="UploadImageCompressPlugin" />
                </feature>
            </config-file>
            <source-file src="src/ios/UploadImageCompressPlugin.m" />
        </platform>
    </plugin>


